<!Doctype html>
<html lang="eu">
<head>
    <title>Processor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="crhome=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link  rel="stylesheet" type="text/css" href = "style_processor.css">
</head>
<body>
Ответ TextArea:
<b>{{.TextareaInput}}</b>
<br>
<br>
Ответ Radio:
<b>{{.OneRadio}} </b>
<br>
<br>
Ответ Select:
<b>{{.SelectInput}}</b>
<br>
<br>
Ответ File:
<b>{{.FileInput}}</b> и размер: <b>{{.FileInputSize}} byte</b>
<br>
<br>
Ответ Hidden и notHidden:
<b>{{.HiddenInput}} {{.NotHiddenInput}}</b>
<br>
<br>
Ответ Simple:
<b>{{.Username}} {{.Password}}</b>
</body>
</html>